<!-- Barra de menu -->
<nav class="white" role="navigation">
  <div class="nav-wrapper" style="margin-left:10% !important;">
    <a id="logo-container" [routerLink]="['/home']" class="brand-logo blue-text">MerakiVE</a>

    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/servicios']">
          <i class="material-icons left blue-text">assessment</i>
          <span class="black-text"> Servicios </span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/tramites']">
          <i class="material-icons left blue-text">library_books</i>
          <span class="black-text"> Tramites </span>
        </a>
      </li>
    </ul>

    <ul id="nav-mobile-2" class="side-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/servicios']">
          <i class="material-icons left blue-text">assessment</i>
          <span class="black-text"> Servicios </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/tramites']">
          <i class="material-icons left blue-text">library_books</i>
          <span class="black-text"> Tramites </span>
        </a>
      </li>
    </ul>

    <a href="#" data-activates="nav-mobile-2" class="button-collapse fondo-blue">
      <i class="material-icons">menu</i>
    </a>
  </div>

</nav>
<!-- Fin barra de menu -->
